
.l_area_ani{
	animation: flip_ani 6s linear infinite;
}
.l_area_ani.delay01 {animation-delay:0s;}
.l_area_ani.delay02 {animation-delay:0.3s;}
.l_area_ani.delay03 {animation-delay:0.6s;}
.l_area_ani.delay04 {animation-delay:0.9s;}
.l_area_ani.delay05 {animation-delay:1.2s;}
.l_area_ani.delay06 {animation-delay:1.5s;}

@keyframes flip_ani {
	47% { transform: rotateY(0deg)}
	50% { transform: rotateY(90deg)}
	53% { transform: rotateY(0deg)}
}